
html, body {
    margin:0;
    padding:0;
    font-size: 15px;
    letter-spacing: 0.5px;
    background:#E8ECEF;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 50%;
    margin: auto;
}

form {
    width: 100%;
}

textarea {
    width: 100%;
}